<h1> Stupid coaching</h1>
<div id="border_question">
  <p><%= @question %></p>
  <p>-You</p>
</div>


<div id="highlight_answer">
  <p><%= @answer %></p>
  <p>-Your coach</p>

</div>
<div id="style_link">
  <%= link_to "More questions to ask?", ask_path %>
</div>



