<h1>Stupid Coaching</h1>
<h4>Ask your coach anything</h4>

<form action="http://localhost:3000/answer" method="get">
  <input type="text" name ="question" id="question_to_ask">
  <input type="submit" type="submit" id ="quest_button" value="Ask">
</form>
